.cart-icon__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: white;
}

.cart-icon__count{
    color: green;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2px;
}